<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Status</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='submit_patient_details.css') }}">
</head>
<body>
    <div class="container">
        {% if message %}
            <div class="response">Patient details submitted successfully!</div>
            <div class="patient-id">{{ message.split('ID: ')[1] }}</div>
        {% endif %}
    </div>

    <!-- Button for redirecting to the home page -->
    <a href="/home" class="next-patient-button">Next Patient</a>
</body>
</html>
